#colorH {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

}

#opencallform{
    width: 600px;
    align-content: center;
}

#buttonSubmit{
    align-self: center;
    width: 140px;
    border-radius: 7px;
    
}


.form-control:valid {
    background-color: #acce39;
  }

.form-control:invalid {
    background-color: #e1e1e1;
  }


#nonrequired{
    background-color : #ffffff; 
}

.color-changer{
    position:fixed;
    bottom: 24px;
    right: 24px;
    border-color: #3300ff;
    border-width: 500px;
    border-radius: 50px;
}

.info{
    position:fixed;
    top: 80px;
    right: 24px;
    font-size: small; 
    border-radius: 5px;
}

.infop{
    background-color: #e1e1e1;
    width: 48px;
}

.color-changer:hover{
    opacity: 50%;
}

.dark{
    
    color: wheat;
    transition: 1s;
    
}

#upmenu{
    background-color: none;
}

a {
    color: #acce39;
    text-decoration: none;
    font-size:large;


}

a:hover{
    opacity: 40%;
    
}

hr{
   border-width: 2px;
   color: #acce39;
   opacity: 100%;
   margin-top: 0;
   margin-bottom: 0;

}

#centered{
    align-content: center;
}



.form-text{
    color:#acce39;
}

#concept{
    margin-left: 100px;
    border: 24px;
}

.incorrect{
    color: red;
    background-color: red;
}

footer {
    
    bottom: 0;
    width: 100%;
    height: 0.5rem;           
}

#post-box{
    margin-left: 300px;
    margin-top: 40px;

}

.column{
    width: 40%;
    padding: 50px;
    position: fixed;
    margin-left: 30px; 
}

.intro-text{
    padding: 50px;
    margin: 30px;
    width: 50%;
}

.right-column{
    width: 300px;
    padding: 50px;
    margin: 30px;
    margin-left: 400px;
    text-align: left;
}

.last-column{
    width: 300px;
    padding: 50px;
    margin: 30px;
    margin-left: 900px;
    text-align: left;
}
