{% extends "layout.html"%}

{% block title %}
    Form
{% endblock %}

{% block main%}
    <!--form page-->
    
    <div class="container-fluid justify-content-center" id="opencallform">
        <form action="/form" method="post" enctype="multipart/form-data">
            <!--regular info-->
            <h1>FORM</h1>
            <div class="">
                <label for="emailF" class="form-label">email: </label>
                <input id="emailF" width="30px" class="form-control" name="email" placeholder="e-mail" type="email">
            </div><br>
            <div>
                <label for="nameF" class="form-label">name:</label>
                <input id="nameF" class="form-control" name="name" placeholder="name" type="text">
            </div><br>

            <!--datalist user chooses from sqlite database-->
            <div>
                <label for="exampleDataList" class="form-label">Where do you live at the moment?</label>
                <input id="nonrequired" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    {% for city in cities %}
                    <option value={{city["name"]}}></option>
                    {% endfor%}
                </datalist>
            </div><br>

            <!--text field which can be enlarged by user-->
            <div class="">
                <label  class="form-label" for="Description"><b>Description</b> </label>
                <textarea class="form-control" id="Description" rows="3" aria-describedby="helpBlockD"></textarea>
                <div id="helpBlockD" class="form-text">
                    max length 300 words
                </div>
            </div>
            <br>
            <!--upload file-->
            <div>
                <input class="form-control" name="fileapp" id="formFileLg" type="file" aria-describedby="helpBlockFile" width="300px">
                <div id="helpBlockFile" class="form-text">
                    max 20 megabyte be careful
                </div>
                <br>
            </div>
            <div>
                <label class="form-label" for="colorH">COLOR PLEASE: </label>
                <input id="colorH"  type="color" value="#563d7c">
            </div>
            <!--user agrees with terms-->
            <fieldset>
                <legend>Do you agree to the terms?</legend>
                <div class="form-text">
                    max length 300 words
                </div>
                <label><input type="radio" name="radio1" value="yes" /> Accept</label>
                <label><input type="radio" name="radio1" value="no" />Don't accept</label>
            </fieldset>
            <!--user confirms that he/she is the owner-->
            <fieldset>
                <legend>This project is my intellectual property.</legend>
                <div class="form-text">
                    max length 300 words
                </div>
                <label><input type="radio" name="radio2" value="yes" />Yes, I am the author</label>
                <label><input type="radio" name="radio2" value="no" />No</label>
            </fieldset>

            <!--по нажатию смена красного на зеленый --> 
            <input class="form-control" color="red" type="submit" value="send" id="buttonSubmit"></button>
        </form>
    </div>
    

{% endblock%}