{% extends "layout.html"%}

{% block title %}
    Index
{% endblock %}

{% block main%}
    <div class="container-fluid">
        <div class="intro-text">
            <h1>HELLO WORLD</h1>
            <h2>WE ARE COLLECTIVE(ISM) </h2>
            <p>Андрей Великанов
            Симулякр ли я дрожащий или право имею — М.: Новое литературное обозрение. 2007. —272 с., ил.
            Что делать художнику после того, как прозвучали многочисленные декларации о смерти искусства? И можно ли теперь заниматься творчеством в какой-либо форме? И так, чтобы не быть при этом жертвой симуляции? Решить эту проблему пытается Андрей Великанов, художник, которого, впрочем, такая старомодная профессиональная идентификация более не удовлетворяет. По его мнению, вместо вопросов «что делать?» и «кто виноват?» надо спросить — «где?» и «как?». Где — на границе семиотических пространств, а как — этому и посвящена его книга.</p>
        </div>

        
    </div>
    
{% endblock %}