{% extends "layout.html"%}

{% block title %}
    Open call
{% endblock %}

{% block main%}
    <!--page with information of the open call, and seperate link for a form page-->
    <div class="container-fluid">
        <div class="intro-text">
            <h1>OPEN CALL</h1>
            <p>
                Classes are used throughout, so your markup can be super flexible. Uses like above, if the order of your items is important, or roll your own with a element. Because the .nav uses display: flex, the nav links behave the same as nav items would, but without the extra markup.
            </p>
            <p>
                HERE WILL be a lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long lonlg long long long lonlg long long long  lonlg long long long lonlg long long long
            </p>

        </div>
        <div class="container-fluid" style="text-align: center;">
            <h2>TERMS AND CONDITIONS</h2>
            <div class="right-column">
                <p>
                    blabkaejf<br>
                    2.blabalan<br>
                    dfnlskngoergoi
                </p>
            </div>
        </div>
        <div class="container-fluid" style="text-align: center;">
    
            <a style="color: black;" href="/form" > <h1>👉 APPLY 👈</h1> </a>
        </div>
        <div class="intro-text">
            <h2>TIMELINE</h2>
            <div style="text-align: left;">
                <p>
                    blabkaejf<br>
                    2.blabalan<br>
                    dfnlskngoergoi
                </p>
            </div>
        </div>
        <div class="last-column" style="text-align: center;">
            <h3>FAQ</h3>
            <div style="text-align: left;">
                <p>
                    1.ijfasejf<br>
                    2.
                </p>
            </div>
        </div>
        <div class="container-fluid" style="text-align: center;">
            <p><i>if you were bored by reading this text, then try to catch Tom with your mouse</i></p>
            <image id="apply" style="width: 80px; height: 50px; position: absolute; z-index:99999;" src="/static/tom.png"></image>

        </div>

        

    </div>
    
    
{% endblock%}