{% extends "layout.html"%}

{% block title %}
    Open call
{% endblock %}

{% block main%}
    <!--page with information of the open call, and seperate link for a form page-->
    <div class="container-fluid">
        <div class="intro-text">
            <h1>OPEN CALL</h1>
            <p>
                New year is always new, and always in the future. We don't know what exactly will happen, we never did and probably never will. So lets try to have a guess.
            </p>
        </div>
        <div class="container-fluid" style="text-align: center;">
            <div class="right-column">
                <h6>TERMS AND CONDITIONS</h6>
                <p>
                    1. Be Honest.<br>
                    2. Be Polite.<br>
                    to know more click <a href="/terms">here</a>
                </p>
            </div>
        </div>
        <div class="container-fluid" style="text-align: center;">
    
            <a style="color: black;" href="/form" > <h1>👉 APPLY 👈</h1> </a>
        </div>
        <div class="intro-text">
            <h3>TIMELINE</h3>
            <div style="text-align: left;">
                <p>
                    Jan 1 2024 — start<br>
                    Dec 31 2024 – finish
                </p>
            </div>
        </div>
        <div class="last-column" style="text-align: center;">
            <h3>FAQ</h3>
            <div style="text-align: left;">
                <p>
                    don't have any questions at the moment
                </p>
            </div>
        </div>
        <div class="container-fluid" style="text-align: center;">
            <p><i>if you were bored by reading this text, then try to catch Tom with your mouse</i></p>
            <image id="apply" style="width: 80px; height: 50px; position: absolute; z-index:99999;" src="/static/tom.png"></image>

        </div>

        

    </div>
    
    
{% endblock%}
