{% extends "layout.html"%}

{% block title %}
    Shop
{% endblock %}

{% block main%}
    <div class="container-fluid" style="height: 400px">
        <div style="align-content: center;" padding-top: 50 px class="container-fluid"> 
            <marquee style="margin-top: 50px; margin-bottom: 50px;"><h1>SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON SOON</h1></marquee>
            <p align="center"><iframe src="https://giphy.com/embed/cfGmVRsJI6wq6noGxP" width="200" height="230" center></iframe></p>
        </div>
    </div>
{% endblock%}